.DS_Store
Thumbs.db
/fsh-generated-renamed
/fsh-generated
/input-cache
/output
/temp
/template
/gofsh
/packages_diff_work
/packages_snapshot/package
/work
/save
/save/profiles
/package.tgz
/package
/package110
/package101